.alibre-price-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.alibre-price-item{
	padding: 0;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	box-sizing: border-box;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.alibre-price-header{
	background-color: $blue;
	padding: 1px 0 10px 0;
	border-radius: 10px 10px 0 0;
	color: black;
}

.alibre-price-value{
	background-color: $grey;
	color: white;
	min-height: 2em;
	font-size: 22px;
	line-height: 2em;
}

.alibre-price-features > li{
	list-style: none;
	text-align: left;
}