.alibre-price-navbar {
	margin-top: 20px;
	padding: 0;
}

.price-navbar-items {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: $grey;

	@media #{$mobile} {
			flex-direction: column;
		}
}

.price-navbar-item {

	@media #{$mobile} {
			min-height: 2em;
			align-items: center;
		}
}

.price-navbar-item:hover {
	cursor: pointer;
	color: $blue;
}

.navbar-item-active {
	font-weight: bold;
	color: $blue;
}


.alibre-price-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0;
}

.alibre-price-item{
	padding: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: 1px solid grey;
}

.item-with-maintenance {

}

.alibre-price-header{
	background-color: $blue;
	padding: 1px 0 10px 0;
	color: black;
}

.alibre-price-value{
	background-color: $grey;
	color: white;
	min-height: 2em;
	font-size: 22px;
	line-height: 2em;
}

.alibre-price-features > li{
	list-style: none;
	text-align: left;
}

.alibre-price-maintenance {
	background-color: #5cb85c;
	height: 3em;
	line-height: 3em;
	box-shadow: 0 0 5px black;
	font-weight: bold;
}