html, body{
    min-height: 100%;
    display: flex;
    flex: 1;
}

#container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.welcome-image{
	background-image: url('/images/welcome.jpg'); 
	background-size: cover;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome-image-baner{
	width: 80%;
	height: 70%;
	opacity: 0.9;
	background-color: white;
}

.welcome-trial{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
}

.welcome-explore{
	background-color: #282828;
	padding: 20px;
	margin-bottom: 20px;
}

.welcome-explore-item {
	margin-top: 10px;
	margin-bottom: 10px;

}

.welcome-explore-image {
	height: 180px;
	width: 180px;
	border-radius: 90px;
	background-color: white;
	margin: auto;
	cursor: pointer;
}

.welcome-explore-image img {
	width: 100%;
	height: 100%;
	border-radius: 90px;
	box-shadow: 0 0 10px white;
}

.welcome-explore-title {
	padding: 10px;
	color: white;
	font-size: 18px;
}

.welcome-different-item{
	padding: 20px;
	margin-bottom: 10px;
}

.welcome-different-image {
	font-size: 100px;
	text-align: center;
	line-height: 80px;
}

.welcome-different-title {
	font-size: 22px;
	text-align: center;
	color: #0b94d9;
}

.welcome-different-description{
	font-size: 15px;
	text-align: center;
	padding: 20px;
}

.welcome-references{
	background-color: #0b94d9;
	color: white;
	padding: 20px;
}

.welcome-references-item{
	padding: 30px;
	text-align: center;
}