
.alibre-pirce-conatainer{
	padding: 0;
	display: flex;
	flex-direction: column;

	@media #{$mobile} {	
			flex-direction: row;
		}	
}

.price-body-container {
	padding: 0;
	margin-top: 20px;

	@media #{$mobile} {	
			flex: 3;
		}
}

.price-items-container {
	padding:0;

	@media #{$mobile} {	
		margin-left: 10px;
		margin-right: 10px;
		}
}

.alibre-price-navbar {
	padding:0px;
	margin-top: 20px;

	@media #{$mobile} {	
			flex: 1;
		}	

}

.price-navbar-items {
	padding: 10px 2px 10px 2px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: $grey;
	margin-bottom: 0px;

	@media #{$mobile} {	
			flex-direction: column;
			margin-left: 10px;
		}	
}

.price-navbar-item{
	opacity: 0.4;

	@media #{$mobile} {	
			margin-bottom: 20px;
			font-size: 1.6vh;
		}	
}

.price-navbar-item:hover {
	cursor: pointer;
	color: $blue;
}

.navbar-item-active {
	font-weight: bold;
	color: $blue;
	opacity: 1;
}

.navbar-progress-item {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	background-color: #e4e4d4;
	box-shadow: 0 0 5px black;
	margin: auto;

	@media #{$mobile} {	
		margin-left: 5px;
		}	
}

.progress-item-selected {
	background-color: white;
}


.alibre-price-item{
	padding: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: 1px solid grey;
}

.alibre-price-value{
	background-color: $grey;
	color: white;
	min-height: 2em;
	font-size: 2vh;
}

.alibre-price-header{
	background-color: $blue;
	padding: 1px 0 10px 0;
	color: black;
	padding: 5px;
}

.alibre-price-header > h3{
	font-size: 2.5vh;
}

.alibre-price-features > li{
	list-style: none;
	text-align: left;
}

.alibre-price-addons{
	display: flex;

	@media #{$mobile} {	
		flex-direction: column;
		align-items: center;
		}	
}

.alibre-price-addon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0.7;

	@media #{$mobile} {	
		width: 60%;
		margin-bottom: 20px;
		text-align: center;
		}	
}

.alibre-price-addon:hover {
	cursor:pointer;
	opacity: 1;
}

.alibre-addon-selected {
	opacity: 1;
}

.addon-header{
	
}

.alibre-price-addon > img {
	width: 100%;
	display: block;
}

.addon-shop{
	position:absolute;
	width:90%;
	height:100%;
	display:flex;
	justify-content:flex-end;
	font-size: 3vh;
	color: $blue;
	
}

.price-description-container{
	display: flex;
	flex-direction: column;

	@media #{$mobile} {	
		margin-left: 10px;
		margin-right: 10px;
		}	
}

.summary-button{
	margin-top: 20px;
}

.description-header {
	font-size: 1.8vh;
}

.description-summary {

	@media #{$mobile} {	
		margin-left: 10px;
		}
}